In [2]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Conv2D, Activation, MaxPooling2D, Dense, Flatten, Dropout
from keras.preprocessing.image import ImageDataGenerator
import pandas as pd
import os

In [13]:
fns = os.listdir("E:/Datasets/Kaggle/train")
categorias = []
for fn in fns:
  categorias.append(fn.split('.')[0])

dfTrain = pd.DataFrame({
  'arquivo': fns,
  'categoria': categorias
})
dfTrain

             arquivo categoria
0      cat.10000.jpg       cat
1      cat.10001.jpg       cat
2      cat.10002.jpg       cat
3      cat.10003.jpg       cat
4      cat.10004.jpg       cat
...              ...       ...
20995   dog.9995.jpg       dog
20996   dog.9996.jpg       dog
20997   dog.9997.jpg       dog
20998   dog.9998.jpg       dog
20999   dog.9999.jpg       dog

[21000 rows x 2 columns]

In [14]:
fns = os.listdir("E:/Datasets/Kaggle/test")
categorias = []
for fn in fns:
  categorias.append(fn.split('.')[0])

dfTest = pd.DataFrame({
  'arquivo': fns,
  'categoria': categorias
})
dfTest

           arquivo categoria
0        cat.0.jpg       cat
1        cat.1.jpg       cat
2       cat.10.jpg       cat
3      cat.100.jpg       cat
4     cat.1000.jpg       cat
...            ...       ...
3997   dog.996.jpg       dog
3998   dog.997.jpg       dog
3999   dog.998.jpg       dog
4000   dog.999.jpg       dog
4001          dogs      dogs

[4002 rows x 2 columns]

In [18]:
catDogImageClassifier = Sequential()
catDogImageClassifier.add(Conv2D(32, (3,3), input_shape=(64,64,3)))
catDogImageClassifier.add(Activation('relu'))
catDogImageClassifier.add(MaxPooling2D(pool_size= (2,2)))
catDogImageClassifier.add(Conv2D(32, (3,3)))
catDogImageClassifier.add(Activation('relu'))
catDogImageClassifier.add(MaxPooling2D(pool_size= (2,2)))
catDogImageClassifier.add(Conv2D(32, (3,3)))
catDogImageClassifier.add(Activation('relu'))
catDogImageClassifier.add(MaxPooling2D(pool_size= (2,2)))
catDogImageClassifier.add(Conv2D(32, (3,3)))
catDogImageClassifier.add(Activation('relu'))
catDogImageClassifier.add(MaxPooling2D(pool_size= (2,2)))
catDogImageClassifier.add(Flatten())
catDogImageClassifier.add(Dense(64))
catDogImageClassifier.add(Activation('relu'))
catDogImageClassifier.add(Dropout(0.5))
catDogImageClassifier.add(Dense(1))
catDogImageClassifier.add(Activation('sigmoid'))

In [19]:
catDogImageClassifier.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 62, 62, 32)        896

 activation (Activation)     (None, 62, 62, 32)        0

 max_pooling2d (MaxPooling2D  (None, 31, 31, 32)       0
 )

 conv2d_1 (Conv2D)           (None, 29, 29, 32)        9248

 activation_1 (Activation)   (None, 29, 29, 32)        0

 max_pooling2d_1 (MaxPooling  (None, 14, 14, 32)       0
 2D)

 conv2d_2 (Conv2D)           (None, 12, 12, 32)        9248

 activation_2 (Activation)   (None, 12, 12, 32)        0

 max_pooling2d_2 (MaxPooling  (None, 6, 6, 32)         0
 2D)

 conv2d_3 (Conv2D)           (None, 4, 4, 32)          9248

 activation_3 (Activation)   (None, 4, 4, 32)          0

 max_pooling2d_3 (MaxPooling  (None, 2, 2, 32)         0
 2D)

 flatten (Flatten)           (None, 128)               0

 dense (Dense)               (None, 64)                8256

 activation_4 (Activation)   (None, 64)                0

 dropout (Dropout)           (None, 64)                0

 dense_1 (Dense)             (None, 1)                 65

 activation_5 (Activation)   (None, 1)                 0

=================================================================
Total params: 36,961
Trainable params: 36,961
Non-trainable params: 0
_________________________________________________________________

In [20]:
catDogImageClassifier.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy'])

In [15]:
trainDataGen = ImageDataGenerator(rescale = 1./255, 
                                  shear_range=0.25, 
                                  zoom_range = 0.25, 
                                  horizontal_flip = True)
trainingSet = trainDataGen.flow_from_dataframe(dfTrain, "E:/Datasets/Kaggle/train", 
                                  x_col = 'arquivo',
                                  y_col = 'categoria',
                                  target_size=(64,64), 
                                  batch_size=32, 
                                  class_mode='categorical')

Found 21000 validated image filenames belonging to 2 classes.

In [16]:
testDataGen = ImageDataGenerator(rescale = 1./255, 
                                  shear_range=0.25, 
                                  zoom_range = 0.25, 
                                  horizontal_flip = True)
testSet = testDataGen.flow_from_dataframe(dfTest, "E:/Datasets/Kaggle/test", 
                                  x_col = 'arquivo',
                                  y_col = 'categoria',
                                  target_size=(64,64), 
                                  batch_size=32, 
                                  class_mode='categorical')

Found 4000 validated image filenames belonging to 2 classes.

c:\Users\Marcelo\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\preprocessing\image.py:989: UserWarning: Found 2 invalid image filename(s) in x_col="arquivo". These filename(s) will be ignored.
  warnings.warn('Found {} invalid image filename(s) in x_col="{}". '

In [21]:
catDogImageClassifier.fit(x=trainingSet, steps_per_epoch=625, epochs=10, validation_data=testSet, validation_steps=1000)

Epoch 1/10
625/625 [==============================] - ETA: 0s - loss: 0.6932 - accuracy: 0.5000WARNING:tensorflow:Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches (in this case, 1000 batches). You may need to use the repeat() function when building your dataset.
625/625 [==============================] - 726s 1s/step - loss: 0.6932 - accuracy: 0.5000 - val_loss: 0.6931 - val_accuracy: 0.5000
Epoch 2/10
625/625 [==============================] - 101s 161ms/step - loss: 0.6931 - accuracy: 0.5000
Epoch 3/10
625/625 [==============================] - 89s 142ms/step - loss: 0.6931 - accuracy: 0.5000
Epoch 4/10
625/625 [==============================] - 86s 138ms/step - loss: 0.6931 - accuracy: 0.5000
Epoch 5/10
625/625 [==============================] - 87s 139ms/step - loss: 0.6931 - accuracy: 0.5000
Epoch 6/10
625/625 [==============================] - 87s 139ms/step - loss: 0.6931 - accuracy: 0.5000
Epoch 7/10
625/625 [==============================] - 87s 140ms/step - loss: 0.6931 - accuracy: 0.5000
Epoch 8/10
625/625 [==============================] - 86s 137ms/step - loss: 0.6931 - accuracy: 0.5000
Epoch 9/10
625/625 [==============================] - 86s 137ms/step - loss: 0.6931 - accuracy: 0.5000
Epoch 10/10
625/625 [==============================] - 87s 139ms/step - loss: 0.6931 - accuracy: 0.5000

In [22]:
catDogImageClassifier.save('catDogCNNModel.h5')